{{#has tag="#ad"}}
<article class="post-card">
<header class="post-card-header">
                <span class="post-card-tags" style="padding: 10px;">Advertentie</span>
            </header>
    <div class="post-card-content" style="display: flex; flex-direction: column; justify-content: center;">
        <span>
            {{ content }}
        </span>
    </div>
</article>

{{ else }}
<article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
        <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
    </a>
    {{/if}}
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-card-header">
                {{#if primary_tag}}
                <span class="post-card-tags">{{primary_tag.name}}</span>
                {{/if}}
                <h2 class="post-card-title">{{title}}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
        </a>
        <footer class="post-card-meta">
            {{#author}}
            <ul class="author-list">
                <li class="author-list-item">
                    <div class="author-name-tooltip">
                        {{name}}
                    </div>
                     {{#if profile_image}}
                        <a href="{{url}}" class="static-avatar">
                            <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                        </a>
                    {{else}}
                        <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
            </ul>
            {{/author}}
            <span class="reading-time">{{date published_at timeago='true'}}</span>
        </footer>
    </div>
</article>
{{/ has}}