<div class="site-nav-outer outer">
<nav class="site-nav inner">
    <div class="site-nav-left">
        <a class="site-nav-logo" style="color:#282828; text-decoration: underline;"  href="{{@blog.url}}">{{@blog.title}} <i class="material-icons" style="font-size: 16px !important;">chevron_right</i></a>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{#if @blog.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @blog.twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/if}}
    </div>
</nav>
</div>